/target
.cargo/
/tests/snapshots/*.new
interpolant-out.smt2
*.rej
/profile.json
/*.json
info.sh
debug.sh
*.png
*.DS_Store
.env
.terraform
terraform.tfstate
terraform.tfstate.backup
node_modules/
ec2
*.tikz